

<select #chosenCategory (change)="reload()">
    <option value="Fantasy">fantasy</option>
    <option value="Romance">romance</option>
    <option value="Horror">horror</option>
    <option value="Thriller">thriller</option>
    <option value="YoungAdult">young adult</option>
</select>
<div>
    <h1>{{chosenCategory.value}}</h1>
</div>

<div class="image-grid">
    <div *ngFor="let img of [].constructor(30)">
    <img  [src]="'assets/' + chosenCategory.value + '.jpg'" class="bookImage">
    <h4>Author</h4>
    <h3>Title</h3>
    <h4>5 $</h4>
    <button class="buy-button">BUY</button>
</div>
</div>

<!---
    - lenyíló lista - könyv kategóriák - fantasy, rom, horror
    - képekhez berakni egy egy könyvklépet, ami az adott kategórián belül meg fog jelenni.
    - for ciklussal fogom, és az adott kategória képét kirakom egymás után, úgy hogy egy sorban max 3 legyen
-->