<div class="book-card">
  <mat-card fxLayout="row wrap">
    <div fxFlex="1 1 70%" class="book-content">
      <mat-card-header>
        <mat-card-title>{{ book.title }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        <mat-label>{{ book.content }}</mat-label>
        <h4>{{ book.price }} $</h4>
        <button mat-raised-button class="buy-button" color="primary" (click)="addToCart(book)">Buy</button>
      </mat-card-content>
    </div>
    <div fxFlex="1 1 30%">
      <mat-card-content>
        <div class="image">
          <img [src]="book.image_url" class="bookImage" alt="Book Image" />
        </div>
        
        <h2>Page: <mat-label>{{ book.pages }}</mat-label></h2>
        <h2>Year: <mat-label>{{ book.year }}</mat-label></h2>
        <h2>Publisher: <mat-label>{{ book.publisher }}</mat-label></h2>
      </mat-card-content>
    </div>
    <div fxFlex="1 1 50%">
      <mat-card-actions>
        <form class="comment-form" [formGroup]="commentsForm" (ngSubmit)="addComment()">
          <div>
            <mat-form-field>
              <mat-label for="username">Username:</mat-label>
              <input matInput type="text" formControlName="username" />
            </mat-form-field>
            <div class="break"></div>
            <mat-form-field>
              <mat-label for="stars">Stars:</mat-label>
              <mat-select formControlName="stars" id="stars">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="break"></div>
            <mat-form-field>
              <mat-label for="comment">Comment:</mat-label>
              <textarea matInput rows="10" cols="50" formControlName="comment"></textarea>
            </mat-form-field>
            <div class="break"></div>
            <button mat-raised-button color="primary" type="submit">
              SAVE
            </button>
          </div>
        </form>
      </mat-card-actions>
    </div>

    <div fxFlex="50%">
      <mat-card-content>
        <h2 class="title">Comments</h2>
        <mat-form-field appearance="fill">
          <mat-label>Filter by Stars</mat-label>
          <mat-select (selectionChange)="onRatingChange($event.value)">
            <mat-option value="0">All Ratings</mat-option>
            <mat-option *ngFor="let r of [1, 2, 3, 4, 5]" [value]="r">{{ r }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngFor="let comment of comments">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ comment.username }}</mat-card-title>
              <mat-card-subtitle>{{ comment.date | dateFormat }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>{{ comment.comment }}</p>
              <p>Rating: {{ comment.stars }}/5</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
