<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" [loggedInUser]="loggedInUser" (onCloseSidenav)="onClose($event, sidenav)" (onLogout)="logout()"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="secondary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>BOOKSTORE</div>
      <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="nav-items">
          <li *ngIf="!loggedInUser"><a routerLink="/login">Login</a></li>
          <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
          <li><a routerLink="signup">Register</a></li>
          <li *ngIf="loggedInUser"><a routerLink="home">Home</a></li>
          <li><a routerLink="books">Books</a></li>
          <li><a routerLink="cart">Cart</a></li>
          <li><a routerLink="contact">Contact</a></li>
        </ul>
      </div>
      <div *ngIf="loggedInUser && loggedInUser.email" class="user-name">Hello, {{ loggedInUser.email }}</div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
