
<app-menu (selectedPage)="changePage($event)" ></app-menu>

<ng-container [ngSwitch]="page">
  <ng-container *ngSwitchCase="'home'">
    <div class="main_component">
      <app-home></app-home>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'books'">
    <app-books></app-books>
  </ng-container>
  <ng-container *ngSwitchCase="'book-page'">
    <app-book-page></app-book-page>
  </ng-container>
  <ng-container *ngSwitchCase="'contact'">
    <app-contact>
      <h1>This is the contact page.</h1>
    </app-contact>
  </ng-container>
  <ng-container *ngSwitchCase="'cart'">
    <app-cart></app-cart>
  </ng-container>

</ng-container>

<router-outlet></router-outlet>