

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="secondary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToogleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div >BOOKSTORE</div>
      <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="nav-items">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="signup">Register</a></li>
          <li><a routerLink="home">Home</a></li>
          <li><a routerLink="books">Books</a></li>
          <li><a routerLink="book-page">Book</a></li>
          <li><a routerLink="contact">Contact</a></li>
          <li><a routerLink="cart">Cart</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>