$dark-pink:  rgb(242, 89, 151);
$light-pink: rgb(243, 134, 178);

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0; // Make sure there is no padding adding extra space
    margin: 0; // Reset any margin to ensure full width usage
}

.break {
    flex-basis: 100%;
    height: 0;
}
mat-card-header{
  display: flex;
    padding: 16px 16px 0;
    justify-content: center;
    color: $dark-pink;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); // 5 columns on larger screens
  grid-gap: 20px;
  margin: 20px auto;
  width: calc(100% - 40px);
  justify-content: center;
  justify-items: center;
  background-color: rgb(35, 35, 35);
  padding: 10px;
}

.image-grid > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Mobile view with single column layout */
@media (max-width: 600px) {
  .image-grid {
      grid-template-columns: 1fr; 
  }
}

.bookImage {
  width: 100%; 
  height: auto;
  margin: auto;
}

.buy-button {
  color: rgb(0, 0, 0);
  background-color: rgb(243, 134, 178);
  font-weight: bold;
  border-color: rgb(242, 89, 151);
  border-radius: 50px;
}

h3, h4 {
  text-align: center;
  margin: 0;
}

h1 {
  color: rgb(242, 89, 151);
  text-shadow: 1px 1px black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}