<div>
    <h1>{{categoryInput.id}}</h1>
</div>

<div class="image-grid" *ngIf="categoryInput && book.length > 0">
    <div *ngFor="let img of [].constructor(30)">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{book[0].title}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <h4>{{book[0].author}}</h4>
                <div class="image">
                    <img [src]="imageUrl" class="bookImage" alt="Book Image" />
                </div>
                <h4>{{book[0].price}} $</h4>
                <button class="buy-button" (click)="viewMore(categoryInput)">MORE</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
